:root {
    --font-heading: "Sora", sans-serif;
    --primary-color: #ff5b2e;
}
html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}

body {
    background: #fffaf5;
}

input,
textarea,
label,
form {
    font-family: inherit;
    font-size: inherit;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.btn {
    --height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--height);
    min-width: 130px;
    border-radius: 999px;
    border: 1px solid;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: var(--height);
    text-align: center;
    color: var(--primary-color);
}

.btn__brands {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
}

.section__heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}

.section__desc {
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

/* header */
.header {
    padding: 32px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img {
    width: 103px;
}
.header__nav {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav__item {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
    padding: 6px;
    transition: all 0.3s ease;
}
.nav__item:hover {
    font-weight: 600;
    color: #000958;
}
.header__btn {
    --height: 50px;
    --primary-color: #000958;
    font-weight: 600;
    font-size: 1.4rem;
}

/* hero */
.hero {
    margin-top: 68px;
}
.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}
.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}
.hero_wrap {
    position: relative;
    width: 388px;
    height: 488px;
    background-color: #fe997b;
    border-radius: 16px;
    border: 2px solid #fff;
    display: flex;
    align-items: flex-end;
}
.hero__img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.hero__decor {
    position: absolute;
    z-index: -1;
}
.hero__decor-left {
    left: -57px;
}
.hero__decor-right {
    right: -40px;
    top: 10px;
}
.hero__wrap-small {
    width: 186px;
    height: 244px;
    background: #faa7ad;
    border-radius: 16px;
    align-self: flex-end;
    border: 2px solid #f7dddf;
    margin: 0 0 -58px -24px;
    z-index: 1;
}
.hero__list {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
    bottom: 0;
    left: 110px;
    z-index: 2;
}
.hero__item {
    display: flex;
    gap: 8px;
}
.hero__thumb {
    background: #fec23f;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.hero__item:last-child .hero__thumb {
    background: #c6e2fa;
}
.hero__info_title {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181e52;
}
.hero__info-line {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}
.hero__info-separate {
    width: 222px;
    border: 1px solid #f2f2f2;
    height: 0;
    margin: 24px 0;
}
.hero__heading {
    font-family: var(--font-heading);
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}
.hero__desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
    margin-top: 24px;
    width: 390px;
}
.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.hero__btn {
    --height: 60px;
    min-width: 190px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}
.hero__link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    text-decoration-line: underline;
    color: #000958;
}

/* about */
.about {
    margin-top: 138px;
}
.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 150px;
}
.about__label {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
    margin-bottom: 15px;
}
.about__heading {
    max-width: 446px;
}
.about__desc {
    max-width: 431px;
}
.about__check-list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
    margin-top: 54px;
}
.about__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}
.about__item::before {
    content: "";
    display: inline-block;
    background: var(--primary-color);
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    width: 24px;
    height: 24px;
    border-radius: 4px;
}
.about__item::after {
    position: absolute;
    top: 2px;
    left: 5px;
    content: url(../img/icon-check.png);
}
.about__media {
    position: relative;
}
.media__card {
    text-align: center;
    position: absolute;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    padding: 30px 26px;
    top: 146px;
    left: -18px;
}
.media__card-title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}
.media__card-desc {
    font-weight: 400;
    font-size: 1.4rem;
    max-width: 83px;
    margin-top: 14px;
    line-height: 1.43;
    text-align: center;
    color: #c6f4f9;
}
.media__card-decor {
    position: absolute;
    top: -40px;
    right: -32px;
}

.about__desc-bottom {
    max-width: 510px;
}

.about__wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__wrap:after {
    position: absolute;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    border-radius: 16px;
    inset: auto 0 0 0;
    z-index: -1;
    content: "";
    height: 336px;
}
.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}
.about__decor {
    position: absolute;
    right: -44px;
    top: 144px;
    z-index: -1;
}

.about__wrap-bottom {
    width: 458px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border-radius: 18px;
    margin-left: 0;
    border: 1px solid #fff;
}

.about-decor-img {
    position: absolute;
}

.about-decor-img:nth-child(1) {
    top: 12px;
    right: 184px;
}
.about-decor-img:nth-child(2) {
    top: -16px;
    right: 130px;
}
.about-decor-img:nth-child(3) {
    top: 33px;
    right: 90px;
}
.about-decor-img:nth-child(4) {
    top: 270px;
    right: 80px;
}
.about-decor-img:nth-child(5) {
    top: 336px;
    right: 140px;
}
.about-decor-img:nth-child(6) {
    top: 435px;
    right: 80px;
}
.about-decor-img:nth-child(7) {
    top: 442px;
    right: 70px;
}
.about-decor-img:nth-child(8) {
    top: 450px;
    right: 60px;
}

/* about tab */
.tab {
    margin-top: 52px;
}

.tab__list {
    display: flex;
    align-items: center;
    gap: 56px;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    cursor: pointer;
    gap: 12px;
}

.tab__icon {
    width: 20px;
    height: 20px;
}

.tab__title {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__desc {
    margin-top: 36px;
    max-width: 390px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}

.tab__more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #ff5d31;
    padding-bottom: 5px;
}

.tab__more::before,
.tab__item::before,
.tab__list::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #ff5b2e;
    opacity: 0.07;
    left: 0;
    right: 0;
    bottom: 0;
}

.tab__more::before {
    opacity: 1;
    height: 1px;
}

.tab__item-active::before {
    width: 70%;
    opacity: 1;
}
